.gradle
.DS_Store
.settings/
.mainframer/config
bin/
gen/
build/
/*/build/
/*/*/build
!buildSrc/src/**/*
.externalNativeBuild/
out/
.idea/
*.iml
*.diff
proguard_logs/
local.properties
proguard/
target/
classes/
reports/
tmp/
gen-external-apklibs/
other/projects/PinterestModelGenerator/gradle/wrapper/gradle-wrapper.jar
captures/
cachefile
.arclib/.phutil_module_cache
jrebel.properties
sdk_dir
__pycache__
nimbledroid.properties
*crashlytics-build.properties
*com_crashlytics_export_strings.xml
ReactNative/reactnative
localConfig.gradle
Pinterest/unit-test-experiment-exceptions.gradle
*-local.gradle
library/models/generated/*
base/src/main/assets/control.json
Pinterest/src/main/assets/control.json
tests/integrationtests/src/main/assets/control.json
buildSrc/src/.DS_Store
buildSrc/src/main/.DS_Store
*.DS_Store
profile-out*
gradle-user-home
other/tools/nimbledroid_network_related.sh
integrationtests/src/main/assets/control.json

#remove once room is updated to 2.3.0-alpha02 or newer https://developer.android.com/jetpack/androidx/releases/room
library/typeaheadroom/schemas/

